.user-card {
    background-color: #fff;  /* White background for the card */
    padding: 15px;           /* Padding around the content */
    margin: 10px;            /* Margin around each card */
    border-radius: 8px;      /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    width: 100%;            /* Fixed width for the card */
    flex-shrink: 0;          /* Prevent cards from shrinking */
  }
  
  .user-card p {
    display: flex;
    justify-content:stretch;
    margin: 5px 5px;           /* Margin between paragraphs */
    font-size: 14px;         /* Font size */
  }
  td{
    margin: 5px;
    padding: 15px;
  }
  .cardButton{
    width: 100%;
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
  }
  .cardButton:hover{
    background-color: #45a049; 
  }
  
