services:
  #contactcentre:
  #  build:
  #    context: ./ContactCustomer
  #    dockerfile: Dockerfile.contact
  #  container_name: contactcentre
  #  ports:
  #    - "3000:3000"
  #  depends_on:
  #    - server

  policiescentre:
    build:
      context: ./Policies
      dockerfile: Dockerfile.policy
    container_name: policycentre
    ports:
      - "3001:3001"
    depends_on:
      - server
    restart: unless-stopped

  claimscentre:
    build:
      context: ./Claims
      dockerfile: Dockerfile.claim
    container_name: claimscentre
    ports:
      - "3003:3003"
    depends_on:
      - server
    restart: unless-stopped

  billingcentre:
    build:
      context: ./billing-center
      dockerfile: Dockerfile.billing
    container_name: billingcentre
    ports:
      - "3002:80"
    depends_on:
      - server
    restart: unless-stopped

  server:
    build:
      context: ./Server
      dockerfile: Dockerfile.server
    container_name: server
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/registeredUser
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: database
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
