.insurance-page {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.insurance-form{
  display: flex;
}
.labels-fields{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  align-items:end;
}
.inputFields{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.insuranceInput{
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;

  
}
.insuranceLabel{
  margin-bottom: 28px;
  font-size: medium;
  font-weight: bold;
}

.form-group-radio{
  display: flex;
}
.inputRadio{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 5px;
}
.form-group-CheckBox{
  display: flex;
}
.inputCheckBox{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
 margin-bottom: 20px;
  
}
.insuranceDashboardButton{
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; 
  color: white; 
  font-size: 16px;
  cursor: pointer;
  width: 30%; 
  margin-top: 20px;
  padding: 10px;
}
.insuranceDashboardButton:hover {
  background-color: #45a049; 
}
.insuranceButton{
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; 
  color: white; 
  font-size: 16px;
  cursor: pointer;
  width: 30%; 
  margin-top: 20px;
  padding: 10px;
  margin-right: 5px;
}
.insuranceButton:hover{
  background-color: #45a049; 
}
